* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: consolas;
    src: url(../font/consolas.TTF);
}

body {
    background: #222222;
    overflow: hidden;
    font-family: consolas;
    color: white;
}

#leftWrapper {
    width: 70vw;
    margin: 0 2.5vw;
    height: 100vh;
    float: left;
}

#rightWrapper {
    width: 22.5vw;
    margin: 0 2.5vw 0 0;
    height: 100vh;
    float: right;
}

#headerMenu {
    height: 10vh;
    margin: 2.5vh 0;

    font-size: 3vh;
    line-height: 10vh;
    color: white;
}

.headline {
    float: left;
    height: 10vh;
}

#buttons {
    float: right;
    height: 10vh;
}

.button {
    height: 10vh;
    padding: 0 .5vw;
    float: left;
}

.button img {
    height: 8vh;
    width: 8vh;
    margin: 1vh;
    filter: grayscale(1);

    transition: all .15s ease-in-out
}

.button img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.CodeMirror {
    height: 80vh;
    margin: 2.5vh 0;
}

#console {
    height: 50vh;
    width: 100%;
    margin-top: 15vh;
    line-height: 170%;
    font-size: 75%;
    background: #2b2b2b;
}

#consoleOutput {
    width: 90%;
    height: 90%;
    padding: 5% 5%;
    overflow-x: hidden;
    overflow-y: visible;
    font-weight: lighter;
}

#consoleOutput::-webkit-scrollbar{
    background: #313335;
    width: 3%;
}

#consoleOutput::-webkit-scrollbar-thumb{
    background: #2ECC71;
}

.msgNormal {
    color: darkgoldenrod;
}

.msgSuccess {
    color: green;
}

.msgError {
    color: darkred;
}

#credits {
    height: 27.5vh;
    margin: 2.5vh 0;
    width: 100%;
    background: #2b2b2b;
}

.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#tutoDiv{
  width: 60vw;
  height: 70vh;
  position: absolute;
  background-color: red;
  z-index: 100;
  left: 25%;
  top: 18%;
  margin-left: -100px;
  border-radius: 10px;
  background-color: #2b2b2b;
  border-style: solid;
  border-color: #222222;
  border-width: 0.5vw;
  box-shadow: 0px 0px 40px #ABABAB;
  display: none;

}

#lessonTitle{
  font-size: 4vh;
  margin: 2vw;
}

#helpDiv{
  width: 50vw;
  height: 40vh;
  position: absolute;
  background-color: red;
  z-index: 110;
  left: 30%;
  top: 18%;
  margin-left: -100px;
  border-radius: 10px;
  visibility: hidden;
  background-color: #2b2b2b;
  border-style: solid;
  border-color: #222222;
  border-width: 0.5vw;
  box-shadow: 0px 0px 40px #ABABAB;

}

#helpTitle{
  font-size: 4vh;
  margin: 2vw;
  margin-bottom: 1vw;
}

#helpContent{
  border-style: solid;
  border-color: #D98AD4;
  border-width: 0.2vw;
  margin: 4%;
  margin-top: 2%;
  width: 90%;
  height: 65%;
  border-radius: 10px;
  padding-top: 0.5vw;
  padding-left: 1vw;
}

.helpHead{
  color: #D98AD4;
  font-size: 2vh;
}

#btn{
  width: 20%;
  font-size: 4vh;
  background: #2ecc71;
  color: white;
  padding: 10px 20px;
  margin: 0 0 7px;
  position: fixed;
  top: 50vh;
  left: 40%;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 7px #1E8549, 0 7px 7px 1px #4f4f4f, 0 0 #1E8549 inset;
  transition: box-shadow 0.15s, margin 0.15s;
  font-family: consolas;

}

#btn:active {
  margin: 7px 0 0;
  box-shadow: 0 0 #18693A, 0 0 #2f2f2f, 0 3px 14px #1E8549 inset;
}

.lesson{
  margin: 2vw;
  height: 45%;
  width: 93%;
  visibility: hidden;
  background-color: #222222;
  position: absolute;
  top: 10%;
  border-radius: 5px;
}

.first{
  visibility: visible;
}

.lessonTitle{
  font-size: 3vh;
  font-weight: bold;
  margin: 1vw;
}

.sytax{
  font-size: 2.5vh;
  margin: 1vw;
}
